.navbar{
    background: #5133a4;
    min-height: 70px;
    max-height: 70px;
    position: fixed;
    width: 100%;
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/800);
    font-family: sans-serif;
    display: inline-block;
}
.navbar li {
    display: inline-block;
    padding: 0 20px 0 0;
    width: 30%;
    text-align: center;
}